
.banner {
    background-color: black;
    color: white;
}

section {


    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;

    font-style: normal;

}

section .repair h1 .tex {


    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;

    font-style: normal;
}